@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* shared styles */

body {
  font-family: "Inter", sans-serif;
  background-color: #1a0b2e;
}
.navbar {
  max-width: 1200px;
  margin: 0 auto;
}
.display-flex {
  display: flex;
}

/* header section style  */

/* navbar style  */
.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 24px 0px;
}
.logo {
  max-width: 219px;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.nav-list li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
}
.btn-primary {
  padding: 12px 16px;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #ffffff;
  background: linear-gradient(20deg, #f7e93f 10%, #fb09b4 51%, #9100f8 100%);
}
.menu-bar {
  display: none;
}

/* banner section style  */

.banner-section {
  background-image: url("../assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 170px;
}
.banner {
  position: relative;
  width: 420px;
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.circle-image {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.center-image {
  position: absolute;
  z-index: 2;
  width: 116px;
  height: 175px;
}
.banner-badge {
  position: relative;
  background-color: #00ff88;
  font-size: 1.125rem;
  z-index: 3;
  color: #1a0b2e;
  top: -180px;
  left: 120px;
  border-radius: 30px;
  padding: 8px 16px;
  font-weight: 600;
  animation: bounce 2s infinite ease-in-out;
}

.banner-title {
  font-size: 3.75rem;
  font-weight: 900;
  color: #ffffff;
  margin-top: 40px;
}
.banner-info {
  color: #ffffff;
  margin-top: 15px;
}
.btn-container {
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  gap: 8px;
}
.btn-secondary {
  border: 1px solid #00ff88;
  padding: 12px 16px;
  border-radius: 30px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #00ff88;
}

/* main section style  */

/* about section  */
.about-section {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.about-title {
  font-size: 3rem;
  color: #ffffff;
  margin-bottom: 16px;
}
.about-info {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
  line-height: 26px;
  margin-bottom: 80px;
}

.overview-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 80px;
  padding-bottom: 120px;
  align-content: center;
}
.value {
  color: #00ff88;
  font-size: 3rem;
  font-weight: 900;
}
.info {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
  line-height: 26px;
  margin-bottom: 80px;
  text-transform: uppercase;
}

/* responsive for mobile or small device */
@media screen and (max-width: 576px) {
  .nav-list,
  .nav-btn {
    display: none;
  }
  .menu-bar {
    display: flex;
  }
  .navbar {
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #412567;
  }
  .logo {
    max-width: 137px;
  }
  .banner {
    width: 200px;
    height: 200px;
  }
  .center-image {
    width: 46px;
    height: 70px;
  }
  .banner-title {
    font-size: 2.5rem;
    margin-top: 24px;
  }

  .banner-section {
    background-image: url("../assets/mobile-hero-bg.png");
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    padding-bottom: 40px;
  }
  .banner-badge {
    position: relative;
    background-color: #00ff88;
    font-size: 1rem;
    z-index: 3;
    color: #1a0b2e;
    top: -70px;
    left: 80px;
    border-radius: 30px;
    padding: 8px 16px;
  }
  .about-section {
    max-width: 90%;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .overview-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 40px;
  }
  .value {
    font-size: 2.5rem;
  }
  .about-title {
    font-size: 2rem;
  }
  .about-info {
    margin-bottom: 40px;
  }
}

/* badge animation */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
