@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* shared styles */

body {
  font-family: "Inter", sans-serif;
  background-color: #1a0b2e;
}
.navbar {
  max-width: 1200px;
  margin: 0 auto;
}
.display-flex {
  display: flex;
}

/* header section style  */

/* navbar style  */
.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 24px 0px;
}
.logo {
  max-width: 219px;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.nav-list li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
}
.btn-primary {
  padding: 12px 16px;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #ffffff;
  background: linear-gradient(20deg, #f7e93f 10%, #fb09b4 51%, #9100f8 100%);
}
.menu-bar {
  display: none;
}

/* banner section style  */

.banner-section {
  background-image: url("../assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 170px;
}
.banner {
  position: relative;
  width: 420px;
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.circle-image {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.center-image {
  position: absolute;
  z-index: 2;
  width: 116px;
  height: 175px;
}
.banner-badge {
  position: relative;
  background-color: #00ff88;
  font-size: 1.125rem;
  z-index: 3;
  color: #1a0b2e;
  top: -180px;
  left: 120px;
  border-radius: 30px;
  padding: 8px 16px;
  font-weight: 600;
  animation: bounce 2s infinite ease-in-out;
}

.banner-title {
  font-size: 3.75rem;
  font-weight: 900;
  color: #ffffff;
  margin-top: 40px;
}
.banner-info {
  color: #ffffff;
  margin-top: 15px;
}
.btn-container {
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  gap: 8px;
}
.btn-secondary {
  border: 1px solid #00ff88;
  padding: 12px 16px;
  border-radius: 30px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #00ff88;
}

/* main section style  */

/* about section  */
.about-section {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.section-title {
  font-size: 3rem;
  color: #ffffff;
  margin-bottom: 16px;
}
.about-info {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
  line-height: 26px;
  margin-bottom: 80px;
}

.overview-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 80px;
  padding-bottom: 120px;
  align-content: center;
}
.value {
  color: #00ff88;
  font-size: 3rem;
  font-weight: 900;
}
.info {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
  line-height: 26px;
  margin-bottom: 80px;
  text-transform: uppercase;
}

/* why choose section  */

.why-choose-section {
  text-align: center;
  background-color: #230e3d;
}
.choose-title {
  padding-top: 120px;
  padding-bottom: 40px;
}
.features {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
  padding-bottom: 120px;
}
.feature-card {
  background-color: rgba(53, 17, 101, 0.4);
  border: none;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
}
.feature-card img {
  padding-bottom: 16px;
}
.card-info {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
  line-height: 26px;
  text-align: start;
}

.card-title {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: bold;
  padding-bottom: 16px;
}
.audio-card {
  grid-row: span 2;
}
.mobile-friendly {
  grid-column: span 2/4;
}
.global-community {
  grid-column: span 2/4;
}
.exclusive-interviews {
  grid-column: span 2;
}

/* episode section style  */

.episode-section {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px;
}
.episode-section h1 {
  text-align: center;
  margin-bottom: 40px;
}
.video-container {
  justify-content: space-between;
  gap: 30px;
}
.video-card {
  background-color: #250d44;
  border-radius: 30px;
  max-width: 400px;
  height: 440px;
}
.video-card iframe {
  border-radius: 30px 30px 0 0;
}
.video-content {
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
  padding: 24px;
}
.video-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
}
.video-info {
  font-size: 1rem;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.5);
}
.video-duration {
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  color: #00ff88;
  font-weight: 600;
}
/*! responsive for mobile or small device */
@media screen and (max-width: 576px) {
  .nav-list,
  .nav-btn {
    display: none;
  }
  .menu-bar {
    display: flex;
  }
  .navbar {
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #412567;
  }
  .logo {
    max-width: 137px;
  }
  .banner {
    width: 200px;
    height: 200px;
  }
  .center-image {
    width: 46px;
    height: 70px;
  }
  .banner-title {
    font-size: 2.5rem;
    margin-top: 24px;
  }

  .banner-section {
    background-image: url("../assets/mobile-hero-bg.png");
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    padding-bottom: 40px;
  }
  .banner-badge {
    position: relative;
    background-color: #00ff88;
    font-size: 1rem;
    z-index: 3;
    color: #1a0b2e;
    top: -70px;
    left: 80px;
    border-radius: 30px;
    padding: 8px 16px;
  }
  .about-section {
    max-width: 90%;
    padding-top: 40px;
    padding-bottom: 0px;
  }
  .info {
    margin-bottom: 40px;
  }
  .overview-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 0px;
  }
  .value {
    font-size: 2.5rem;
  }
  .section-title {
    font-size: 2rem;
  }
  .about-info {
    margin-bottom: 40px;
  }
  .features {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 16px;
    padding: 20px;
  }
  .audio-card {
    grid-row: auto;
  }
  .mobile-friendly {
    grid-column: auto;
  }
  .global-community {
    grid-column: auto;
  }
  .exclusive-interviews {
    grid-column: auto;
  }
  .feature-card {
    justify-content: flex-start;
    padding: 24px;
    border-radius: 24px;
  }
  .choose-title {
    padding-top: 40px;
    padding-bottom: 16px;
  }
  .episode-section {
    padding: 40px 20px;
  }
  .video-card {
    max-width: 380px;
    height: 440px;
  }
  .video-card iframe {
    max-width: 380px;
    height: 225px;
  }
  .video-container {
    flex-direction: column;
  }
  .video-title {
    font-size: 1rem;
    font-weight: 700;
  }
}

/* badge animation */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
